#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.character-dialog {
  background: transparent;
  border: none;
  position: absolute;
  transform: translate(-17%, -10%);
  padding: 0;
  margin: 0;
}

#stage {
  position: relative;
}

#sidebar {
  position: fixed;
  left: 0;
  padding: 0.5rem;
  font-size: 1.25rem;
  background-color: hsl(0 0 3 / 70%);
  z-index: 999;
}

img {
  display: block;
  max-width: 1664px;
  height: auto;
}

#frame {
  position: relative;
}

.gameInActive {
  filter: blur(1rem);
}

#stages {
  border: 2px solid purple;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}

#stage_card {
  img {
    max-width: 100%;
  }
}
