:root {
  /* Colors */
  --clr-bg: #f5f5f5;
  --clr-text: #070d0c;
  --clr-accent: #457b9d;
  --clr-accent-highlight: #71a2c1;

  --clr-success: #7dc95e;
  --clr-success-shadow: #60b83d;
  --clr-select: #c50720;
  --clr-select-shadow: #4f030d;

  /* Text */
  --ff-base: "Caveat Brush", system-ui, sans-serif;

  --fs-small: 1.25rem;
  --fs-medium: 1.75rem;
  --fs-large: 2.25rem;

  font-family: var(--ff-base);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a {
  font-weight: 500;
  color: var(--clr-accent);
  text-decoration: inherit;
}

a:hover {
  color: var(--clr-accent-highlight);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: var(--fs-large);
  line-height: 1.1;
}

dialog {
  background-color: var(--clr-text);
}

button {
  border-radius: 8px;
  border: 2.5px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--clr-accent-highlight);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--clr-text);
    background-color: var(--clr-bg);
  }

  button {
    background-color: var(--clr-text);
    color: var(--clr-bg);
  }

  dialog {
    background-color: var(--clr-bg);
  }
}
